# Executables
*.exe
*.out

/build/
/out/

.vs
.vscode
CMakeCache.txt
CMakeUserPresets.json
*.sln
*.ini

.idea
cmake-build-debug
cmake-build-release

perf.data
perf.data.old

.clang-format
.cache

/blueprints/

*.sh
*.bat
