[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
	shallow = true
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
	shallow = true
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
	shallow = true
[submodule ".\\submodules\\lua"]
	path = .\\submodules\\lua
	url = https://github.com/walterschell/Lua
[submodule "submodules\\sol2"]
	path = submodules\\sol2
	url = https://github.com/ThePhD/sol2
